
obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.ConstructionManagement4.props

obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.ConstructionManagement4.props

obj/Debug/net8.0/staticwebassets/msbuild.build.ConstructionManagement4.props

obj/Debug/net8.0/ConstructionManagement4.MvcApplicationPartsAssemblyInfo.cache

obj/Debug/net8.0/ConstructionManagement4.MvcApplicationPartsAssemblyInfo.cs

obj/Debug/net8.0/ConstructionManagement4.pdb

obj/Debug/net8.0/ref/ConstructionManagement4.dll

obj/Debug/net8.0/refint/ConstructionManagement4.dll

obj/Debug/net8.0/staticwebassets.build.json

obj/Debug/net8.0/ConstructionManagement4.dll

obj/Debug/net8.0/Construc.DA62A389.Up2Date

obj/Debug/net8.0/apphost

obj/Debug/net8.0/ConstructionManagement4.csproj.AssemblyReference.cache

obj/Debug/net8.0/ConstructionManagement4.csproj.CoreCompileInputs.cache

obj/Debug/net8.0/ConstructionManagement4.csproj.FileListAbsolute.txt

obj/Debug/net8.0/ConstructionManagement4.GeneratedMSBuildEditorConfig.editorconfig

obj/Debug/net8.0/ConstructionManagement4.genruntimeconfig.cache

obj/Debug/net8.0/ConstructionManagement4.AssemblyInfoInputs.cache
